html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: black;
    
    overscroll-behavior: none;
}

#feedInput {
    position: absolute;
    z-index: 99999;
    top: 20px; left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: rgba(0,0,0,0.7);
    color: white;
    border: 1px solid #555;
    border-radius: 6px;
    width: 80%;
}

#loadBtn {
margin-top: 10px;
width: 80%;
}

#viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide img,
.slide video {
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
    object-fit: contain;
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    display: block;
}
